# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
.venv
venv/
.pytest_cache/
.mypy_cache/

# --- Env / secrets ---
.env

# --- IDEs / Editors ---
.vscode/
.idea/
*.swp
*.swo

# --- OS ---
.DS_Store
Thumbs.db
desktop.ini
